// -------------------------------------
//   HEADER SECTION - NAV/MOBILE NAV
// -------------------------------------
// ----- Top Header and Nav
// -------------------------------------

.top-header-section {
	opacity: 0;
}

header {
	height: 160px;
	background: $primaryDark;
	-webkit-box-shadow: 0px 3.75px 5px rgba(0,0,0,1.5);
	-moz-box-shadow: 0px 3.75px 5px rgba(0,0,0,1.5);
	box-shadow: 0px 3.75px 5px rgba(0,0,0,1.5);
	@include bg-cover;
	border-top: 1px dashed #000;
	position: fixed;
	width: 100%;
	z-index: 20;
	top: 0;
	.l-header-bg {
		@include centerer;
		top: 38%;
		
	    @include media(max-width 1024px, 6) {
	      display: none;
	    }
	}
	
	ul {
		padding: 0;
		margin: 0;
	}

	.l-switch-container {
		width: 90px;
		height: 115px;
		@include bg-contain;
		@include centerer;
		z-index: 30;
		top: 37%;
		left: 19%;
		img {
			width: 45px;
			@include centerer;
			@include transition(all 0.3s ease-in-out);
			
			&:hover {
				cursor: pointer;
				@include transform(translate(-25px, -25px) scale(1.25));
			}
				
		}
		.header-switch-gen {
			left: 25%;
		}
		.header-switch-joe {
			left: 100%;
		}

		@include media(max-width 1024px, 6) {
		  display: none;
		}

	}

	.top-header-nav {
		@include bg-contain;
		background-position: bottom center; 
		height: 50px;
		width: 100%;
		position: relative;
		top: 123.4px;
		
		ul {
			margin: 0 auto;
			width: 100%;
			text-align: center;
			@include centerer;
			top: 19px;
			
			li {
				font-family: 'moonshinersharp';
				font-weight: bold; 
				font-size: 24px;
				letter-spacing: 1px;
				display: inline-block;
				margin-right: 10px;
				&:last-child {
					margin-right: 0;
				}

				a {
					color: #fff;
					text-decoration: none;
					@include underline-hover;
					padding: 19px 20px;
          			font-weight: normal;
					&:active,
					&:focus,
         			&:hover {
						color: $silver;
					}
				} 
			}
			
			// SITE LOGO
			.l-header-logo { // <h1>
				background: url("../img/logo-wht.png");
				@include bg-contain;
				text-indent: -9999px; 
				position: relative;
				height: 138px;
				top: -65px;
		        
		        &:hover {
		          cursor: pointer;
		        }
				
			}
		}

	    @include media(max-width 1024px, 6) {
	      display: none;
	    }
	}

  	// header media query
	@include media(max-width 1024px, 6) {
		background: #fff;
		height: 75px;
	}
}

header .l-mobile-layout {
  display: none;

  h1 {
    height: 75px;
    background: url(../img/logo.png);
    @include bg-contain;
    text-indent: -9999px;
    width: 75px;
    margin-left: 5%;

  }

  // ANIMATED HAMBURGER ICON TOGGLE BUTTON
	.mobile-nav-btn {
		position: absolute;
		z-index: 9999;
		width: 60px;
		height: 120px;
		left: 89%;
		@include transition-duration(0.5s);

	    .icon {
			@include transition-duration(0.5s);
			position: absolute;
			height: 3px;
			width: 25px;
			top: 35px; // position of hamburger
			left: -3px;
			background-color: #000;

			&:before {
				@include transition-duration(0.5s);
				position: absolute;
				height: 3px;
				width: 25px;
				background-color: #000;
				content: "";
				top: -8px;
			}

			&:after {
				@include transition-duration(0.5s);
				position: absolute;
				height: 3px;
				width: 25px;
				background-color: #000;
				content: "";
				top: 8px;
			}

			&:hover{
				cursor: pointer;
			}
	    }

	    &.open {
			.icon {
				@include transition-duration(0.5s);
				background: transparent;

				&:before {
					@include transform( rotateZ(45deg) scaleX(1.25) translate(6px, 5px) );
				}

				&:after {
					@include transform( rotateZ(-45deg) scaleX(1.25) translate(5px, -4px) );
				}
			}
	    }
  	} // END ANIMATED HAMBURGER TOGGLE BUTTON

  nav {
    position: absolute;
    width: 100%;
    top: 75px; // height of mobile header
    left: -100%;
    opacity: 0;
    ul {
    	text-align: center;
	li {
		font-family: 'moonshinersharp';
		display: block;
		padding: 1em 0;
		background: #262626;
		border-bottom: 1px solid $charcoal;
		text-transform: uppercase;

        a {
          color: #fff;
          font-size: 1.25em;
        }
      }
    }
  }
  @include media(max-width 1024px, 6) {
    display: block;
  }

} // END MOBILE LAYOUT

.l-header-switch-container {
	position: relative;
	z-index: 1; 
}

.l-switch-btn-left {
	position: absolute;
	left: 10%;
	top: 25px;
	width: 60px;
	height: 60px;
	background: url("../img/hero-gen-hooker.png");
	@include bg-contain;
	-webkit-border-radius: 50%; 
	border-radius: 50%;
	overflow: hidden;
	@include fade-hover;
	
	@include media(max-width 1024px, 6) {
		left: 15%;
		top: 7px;
	}

	@include media(max-width 480px, 6) {
		left: 30%;
	}
}

.l-switch-btn-right {
	position: absolute;
	right: 10%;
	top: 25px;
	width: 60px;
	height: 60px;
	background: url("../img/hero-fight-joe.png");
	@include bg-contain;
	overflow: hidden;
	@include fade-hover;
	
	@include media(max-width 1024px, 6) {
		right: 15%;
		top: 10px;
	}
}

