// -------------------------------------
//   HERO SECTION - ABOVE THE FOLD
// -------------------------------------
// ----- Hero Section - Above the Fold
// -------------------------------------
.l-hero-divider {
	height: 160px;
	color: #FFF;
	
	@include media(max-width 1024px, 6) {
		height: 75px;
	}
}

.l-characters-section {
  display: none;
}

.l-section-hero {
	background: url("../img/wood-paper-bg.jpg")fixed;
	@include bg-cover;
	background-attachment: fixed; 
	background-position: 50% 0; 
	position: relative;
	overflow: hidden;
	height: 100vh;

	@include media(max-width 768px, 6) {
		overflow: scroll;
	}
	
	.l-row {
		min-height: 100vh;
		padding-top: 5em;
	}
}

// #aboveFold {
// 	@include bg-cover;
// 	background-attachment: fixed !important; 
// 	-webkit-background-size: cover !important; 
// 	-o-background-size: cover !important; 
// 	background-size: cover !important;
// }

#l-hero-image {
	//@include shadow-border($deepRed);
	position: relative;
	top: 5em;
	left: -15%;

	h1 {
		font-family: 'moonshinersharp';
		font-weight: bold;
	}
	

}

#l-hero-header {
	font-size: 14em;
	line-height: 0.95em;
	@include centerer;
	top: 30%;
	left: 50%;
	text-shadow: 1px 2px 2px $cream;
	z-index: 1;
	font-weight: normal;
 	padding-top: 0.25em;

	@include media(max-width 1280px, 6) {
		font-size: 11em;
	}


	@include media(max-width 768px, 6) {
		font-size: 8.5em;
	}
}

#heroLeft {
	@include media(min-width 1285px, 6) {
		padding-top: 16em;
	}
}

#heroRight {
	padding: 12.5em 6% 0 10%;
	
	p {
		text-shadow: 0 2px 2px #000;
		font-weight: bold;
	    color: #fff;
	    font-size: 24px;
	    line-height: 30px;
	    letter-spacing: 0.5px;
	}

	@include media(max-width 1280px, 6) {
		padding: 14.5em 2% 0 13%;

		p {
			font-size: 18px;
			letter-spacing: 0;
		}
	}

	@include media(min-width 1285px, 6) {
		padding-top: 22em;
	}

	@include media(max-width 768px, 6) {
		padding: 0 4%;
		position: relative;
	}

}
