// -------------------------------------
//   SECTION 2 & #
// -------------------------------------
// ----- Stylings for Section 2 n 3
// -------------------------------------

.l-section-2 {
	padding-top: 3em;

  h1 {
    color: $primaryDark;
  }
	
	.l-row {
		padding: 3em 0;
	}

  #l-hero-copy2 {
    padding: 0 2%;
  }

	.l-bourbon-copy {
		background: url("../img/drawing.png");
		@include bg-contain;
		img {
			position: relative;
			left: 50%;
		    @include media(max-width 480px, 6) {
		        left: 25%;
		    }
		}

	    h1 {
	      text-indent: 1%;
	      font-size: 7em;
	      font-weight: normal;

	      @include media(max-width 768px, 6) {
	        font-size: 2.25em;
	      }
	    }

		p {
			line-height: 1.75em;
			text-shadow: 0 2px 2px $cream;
			font-weight: bold;
			letter-spacing: 0.5px;
		}
	}

	.l-bourbon-brands {
		.two-col {
			height: 200px;
			text-align: center;
			display: table;
		}

		.l-brands-copy {
			//padding-left: 5%;
      		padding: 0 2%;
			h1 {
				font-size: 3em;
				padding: 2em 0;
        //color: $primaryDark;
			}
			p {
				//@include centerer;
				display: table-cell;
				vertical-align: middle;
				font-size: 18px;
				font-weight: bold; 
			}

		}

		.l-bg-brand {
			background: url("../img/content-frame.png");
			@include bg-contain;
			display: table;
			text-align: center;
			h1 {
				display: table-cell;
				vertical-align: middle;
				font-size: 4em;
		        @include media(max-width 480px, 6) {
		          font-size: 3em;
		        }
			}
		}

		@include media(max-width 768px, 6) {
			border-bottom: 1px solid $primaryDark;
		}
	}
}

.full-width h2 {
  color: $primaryDark;
}

// MAP SECTION - 3

.l-section-3 {
	position: relative;
	background: url('../img/wood-paper-bg.jpg')fixed;
	@include bg-cover;
  	overflow: hidden;
	.l-map-section {
		min-height: 100vh;
		img {
			width: 100%;
			max-width: 100%;
			position: relative;
			top: 10em;
			left: -20%;
			-webkit-box-shadow: 4px 7px 7px rgba(0, 0, 0, 0.5);
			-moz-box-shadow: 4px 7px 7px rgba(0, 0, 0, 0.5);
			box-shadow: 4px 7px 7px rgba(0, 0, 0, 0.5);
			@include transform(rotate(6deg));			
		}

		.l-map-copy {
      		padding: 10em 2% 1em 2%;
			
			h1 {
				text-shadow: 0 2px 2px #000;
				font-weight: bold;
			}
			
			p {
				text-shadow: 0 2px 2px #000;
				font-weight: bold;
				color: #fff;
				font-size: 24px;
				line-height: 30px;
				letter-spacing: 0.5px;
				@include media(max-width 1280px, 6) {
				font-size: 18px;
				letter-spacing: 0;
				}
			}
    	}
	}

	@include media(max-width 1024px, 6) {
		.l-map-section {
			img {
				top: 5em;
			}
		}

		.l-map-copy {
			padding: 0 5%;
			padding-top: 1em;
		}
  	}
}