// -------------------------------------
//   SECTION 2 & #
// -------------------------------------
// ----- Stylings for Section 2 n 3
// -------------------------------------

.l-section-2 {
	padding-top: 3em;
	
	.l-row {
		padding: 3em 0;
	}

	.l-bourbon-copy {
		background: url("../img/drawing.png");
		@include bg-contain;
		img {
			position: relative;
			left: 50%;
		}

		p {
			line-height: 1.75em;
			text-shadow: 0 2px 2px $cream;
			font-weight: bold;
			letter-spacing: 0.5px;
		}
	}

	.l-bourbon-brands {
		.two-col {
			// @include shadow-border(green);
			height: 200px;
			text-align: center;
			//position: relative;
			display: table;
		}

		.l-brands-copy {
			padding-left: 5%;
			h1 {
				font-size: 3em;
				padding: 2em 0;
			}
			p {
				//@include centerer;
				display: table-cell;
				vertical-align: middle;
				font-size: 18px;
				font-weight: bold; 
			}

		}

		.l-bg-brand {
			background: url("../img/content-frame.png");
			@include bg-contain;
			display: table;
			text-align: center;
			h1 {
				display: table-cell;
				vertical-align: middle;
				font-size: 4em; 
			}
		}
	}
}

// MAP SECTION - 3

.l-section-3 {
	position: relative;
	background: url("../img/wood-bg.jpg")fixed;
	@include bg-cover;
	.l-map-section {
		padding-top: 8em;
		background: rgba(247, 246, 247, 0.45);
		min-height: 100vh;
		img {
			max-width: 150%;
			width: 130%;
			@include transform(rotate(6deg));
			
		}

		.l-map-copy {
			position: relative;
			padding-left: 16%;
			padding-top: 6em;
			h1, p {
				text-shadow: 0 2px 2px #fff; 
			}
		}
	}
}